<template>
  <q-page padding class="flex justify-center">
    <q-card class="form-wrapper">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        narrow-indicator
      >
        <q-tab name="send" label="Отправить" />
        <q-tab name="status" label="Статус обращения" />
        <!-- <q-tab name="stats" label="Статистика" /> -->
      </q-tabs>
      <q-separator />
      <q-tab-panels v-model="tab" animated keep-alive>
        <q-tab-panel name="send">
          <q-card-section>
            <div class="text-h5 text-center">Форма отправки обращения</div>
          </q-card-section>
          <q-card-section>
            <Suspense>
              <Form />
              <template #fallback>
                <div class="flex full-width flex-center">
                  <q-spinner
                    color="primary"
                    size="6em"
                  />
                </div>
              </template>
            </Suspense>  
          </q-card-section>
        </q-tab-panel>

        <q-tab-panel name="status">
          <q-card-section>
            <div class="text-h5 text-center">Узнать статус обращения</div>
          </q-card-section>
          <q-card-section>
            <TicketStatus />
          </q-card-section>
        </q-tab-panel>

        <!-- <q-tab-panel name="stats">
          <q-card-section>
            <div class="text-h5 text-center">Здесь могла бы быть ваша статистика...</div>
          </q-card-section>
        </q-tab-panel> -->
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script setup>
import Form from 'src/components/Form.vue';
import TicketStatus from 'src/components/TicketStatus.vue';
import { ref } from 'vue'

const tab = ref('send');
</script>

<style lang="scss" scoped>
.form-wrapper {
  width: 40%;
  @media screen and (max-width: 1700px) {
    width: 50%;
  }
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
</style>
