<template>
  <div class="q-pa-md">

    <q-form
      ref="form"
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
      :loading="isLoading"
      no-reset-focus
    >
      <q-input
        filled
        v-model="name"
        label="Представьтесь пожалуйста *"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Поле должно быть заполнено']"
      />

      <q-select 
        filled
        v-model="category" 
        :options="categories" 
        label="Выберите категорию обращения *" 
        option-label="name"
        option-value="uid"
        lazy-rules
        :rules="[ val => val || 'Выберите значение']"
      />

      <q-select 
        filled
        v-model="country" 
        :options="filteredCountries" 
        label="Выберите страну *" 
        use-input
        hide-selected
        fill-input
        input-debounce="0"
        option-label="name"
        option-value="uid"
        @filter="filterCountries"
        lazy-rules
        :rules="[ val => val || 'Выберите значение']"
      />

      <q-select 
        filled
        v-model="company" 
        :options="companiesByCountry"
        :disable="!country" 
        label="Выберите компанию *" 
        option-label="name"
        option-value="uid"
        lazy-rules
        :rules="[ val => val || 'Выберите значение']"
      />

      <q-input
        filled
        v-if="isOtherCompany"
        v-model="companyName"
        label="Введите название компании"
        lazy-rules
      />

      
      <!-- сделать динамический caption по выбранному способу -->
      <!-- сделать раскрытие раскрывашки -->
      <!-- сделать валидацию почты -->

      <div class="text-h6">Выберите любой удобный способ связи:</div>
      <div class="q-pl-md">
        <q-input
          :ref="(el) => (refContactsInput[0] = el)"
          filled
          type="email"
          v-model="contacts.email"
          label="Электронная почта"
          :rules="[ contactsValidation ]"
          lazy-rules
        />

        <q-input
          :ref="(el) => (refContactsInput[1] = el)"
          filled
          type="text"
          v-model="contacts.telegram"
          label="Telegram"
          :rules="[ contactsValidation ]"
          lazy-rules
        />

        <q-input
          :ref="(el) => (refContactsInput[2] = el)"
          filled
          type="tel"
          v-model="contacts.phone"
          label="Номер телефона"
          :rules="[ contactsValidation ]"
          lazy-rules
        />

        <q-input
        :ref="(el) => (refContactsInput[3] = el)"
          filled
          type="text"
          v-model="contacts.other_contact"
          label="Другой способ связи"
          :rules="[ contactsValidation ]"
          lazy-rules
        />
      
      </div>


      <q-input
        v-model="description"
        filled
        type="textarea"
        label="Опишите суть проблемы"
        :rules="[ val => val && val.length > 0 || 'Поле должно быть заполнено']"
        lazy-rules
      />

      <q-file
        filled
        label="Прикрепите один или несколько файлов если требуется"
        outlined
        multiple
        append
        use-chips
        hint="Вес каждого файла не должен превышать 50 мб"
        :model-value="files"
        @update:model-value="updateFiles"
        :loading="filesAreLoading"
        :disable="filesAreLoading"
        lazy-rules
      >
        <template v-slot:prepend>
          <q-icon name="attach_file" />
        </template>
      </q-file>

      <!-- <q-toggle v-model="accept" label="Я принимаю условия обработки данных" /> -->

      <div class="full-width flex justify-center">
        <q-btn label="Отправить" type="submit" color="primary" rounded :loading="isLoading"/>
      </div>
    </q-form>

  </div>
</template>

<script setup> 
import { useQuasar } from 'quasar'
import { ref, computed, reactive, watch } from 'vue'
import { api } from 'boot/axios'

const form = ref(null);

const $q = useQuasar();

// const categories = ref([]);

const name = ref(null);
const category = ref(null);
const country = ref(null);
const company = ref(null);
const description = ref(null);
const companyName = ref(null);
// const accept = ref(false);

let contacts = reactive({
  email: null,
  telegram: null,
  phone: null,
  other_contact: null,
});
const refContactsInput = ref([]);

watch(contacts, () => {
  refContactsInput.value.forEach(input => {
    input.validate();
  });
})


function contactsValidation() {
  return Object.values(contacts).some(value => value?.length > 0)
    || 'Укажите хотя бы один способ связи';
} 



let companies = ref([]);

const companiesByCountry = computed(() => {
  const otherCompany = {
    name: 'Другая',
    uid: 'other',
  }
  if (!country.value?.uid) {
    return [otherCompany];
  }
  const filteredCompanies = companies.value.filter(company => company.country?.uid === country.value?.uid);
  filteredCompanies.push(otherCompany);

  return filteredCompanies;
});

const isOtherCompany = computed(() => {
  return company?.value?.uid === 'other';
});

const filesAreLoading = ref(false);

const files = ref([]);

const {data: { results: categories } } = await api.get('/api/categories/');
const {data: countries } = await api.get('/api/countries/');
const {data} = await api.get('/api/companies/');

companies.value = data;

async function updateFiles(newFiles) {
  const keysToDelete = [];
  const promises = [];
  let promise;
  newFiles.forEach((file, index) => {
    if (!file.pk){
      const formData = new FormData();
      formData.append('file', newFiles[0]);
      promise = api.post('/api/files/', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then(({data}) => {
        newFiles[index].pk = data.pk;
      }).catch((error) => {
        keysToDelete.push(file.__key);
        $q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'File uploading error: ' + error,
        })
      })
      promises.push(promise);
    }
  })


  await Promise.allSettled(promises);
  files.value = newFiles.filter(file => !keysToDelete.includes(file.__key));
  filesAreLoading.value = false;
}

const filteredCountries = ref(countries);

function filterCountries(val, update, abort) {
  update(() => {
    const needle = val.toLowerCase()
    filteredCountries.value = countries.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
  })
}

function onReset() {
  name.value = null;
  category.value = null;
  country.value = null;
  company.value = null;
  companyName.value = null;
  description.value = null;
  files.value = null;

  contacts = {
    email: null,
    telegram: null,
    phone: null,
    other_contact: null,
  };

  form.value.resetValidation();
}


const isLoading = ref(false);

function onSubmit () {


  const data = {
    requester_name: name.value,
    description: description.value,
    category_id: category.value.uid,
    country_id: country.value.uid,
    company_id: isOtherCompany.value ? '': company.value.uid,
    company_name: isOtherCompany.value ? companyName.value : '',
    files: files.value.map(item => item.pk),
    ...contacts,
  }

  isLoading.value = true;
  api.post('/api/tickets/', {
    ...data
  }).then(({data}) => {
    navigator.clipboard.writeText(data.uid);
    $q.notify({
      color: 'green-4',
      textColor: 'white',
      icon: 'cloud_done',
      message: 'Заявка успешно создана, uid скопирован в буфер обмена'
    });
  }).catch((error) => {
    $q.notify({
      color: 'red-5',
      textColor: 'white',
      icon: 'warning',
      message: error,
    })
  }).finally(() => {
    isLoading.value = false
    form.value.reset();
  })
}
</script>
