<template>
  <div class="q-pa-md column q-gutter-y-md">
    <q-input
      ref="input"
      filled
      v-model="uid"
      label="Введите uid обращения *"
      :loading="ticketIsLoading"
    />
    <div class="full-width flex justify-center">
      <q-btn 
        label="Узнать" 
        @click="onClick" 
        color="primary" 
        rounded
        :disable="!uid"
        :loading="ticketIsLoading"
      />
    </div>
    <q-list v-if="ticketInfo" class="list">
      <q-item>
        <q-item-section>
          <q-item-label caption lines="1">Название</q-item-label>
          <q-item-label>{{ticketInfo.title}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced  />

      <q-item>
        <q-item-section>
          <q-item-label caption lines="1">Описание</q-item-label>
          <q-item-label>{{ticketInfo.description}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced  />

      <q-item v-if="ticketInfo.category?.name">
        <q-item-section>
          <q-item-label caption lines="1">Категория</q-item-label>
          <q-item-label>{{ticketInfo.category?.name}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced  />

      <q-item>
        <q-item-section>
          <q-item-label caption lines="1">Статус</q-item-label>
          <q-item-label :class="status.color">{{status.text}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced  />

      <q-item>
        <q-item-section>
          <q-item-label caption lines="1">Страна</q-item-label>
          <q-item-label>{{ticketInfo.country.name}}</q-item-label>
        </q-item-section>
      </q-item>

      <q-separator spaced  />

      <q-item v-if="ticketInfo.company?.name">
        <q-item-section>
          <q-item-label caption lines="1">Компания</q-item-label>
          <q-item-label>{{ticketInfo.company?.name}}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script setup>
import { api } from 'boot/axios'
import { ref, computed } from 'vue'

const uid = ref(null);
const input = ref();

const ticketInfo = ref(null);
const ticketIsLoading = ref(false);

function onClick() {
  if (!uid.value) {
    $q.notify({
      color: 'red-5',
      textColor: 'white',
      icon: 'warning',
      message: 'Поле uid должно быть заполнено'
    })
    return;
  }

  ticketIsLoading.value = true;

  api.get(`/api/tickets/${uid.value}/`)
    .then(({data}) => {
      ticketInfo.value = data;
    }).catch((error) => {
      $q.notify({
        color: 'red-5',
        textColor: 'white',
        icon: 'warning',
        message: error,
      })
    }).finally(() => {
      ticketIsLoading.value = false;
    });
}

const status = computed(() => {
  let status = {};
  switch (ticketInfo?.value?.status?.toUpperCase()) {
    case 'NEW':
      status = {
        text: 'Создан',
        color: 'text-blue-7'
      }
      break;
    
    case 'IN PROGRESS':
      status = {
        text: 'В работе',
        color: 'text-orange-7'
      }
      break;
    
    case 'DONE':
      status = {
        text: 'Завершён',
        color: 'text-green-7'
      }
      break;
    default:
      break;
  }
  return status;
});
</script>

<style lang="scss" scoped>
.list :deep(.q-item) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
</style>